*body {
    background: rgb(42, 42, 44) ;
}
* h1 ul li {
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
	margin-left: 5px;
    /* border-bottom: 0.1px solid  blue;  */
    
}
/* *h1  {
	text-align: center;
	padding: 40px;
	text-transform: uppercase;
} */
/* .div h1 titulo  {
	text-align: center;
    padding: 40px;
    text-transform: uppercase;
} */
.div ul li {
	text-align: center;
    padding: 40px;
    text-transform: uppercase;

}
.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* font-style: normal; */
    text-transform: uppercase;

}
.corpo {
    padding-left: 10px;
}

.intro {
	background: url('../img/foto\ 17.jpg') no-repeat center center;
	background-size: cover;
	color: rgb(12, 11, 11);
	padding: 100px 0;
	text-align: center;
}

.intro h1 {
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}

.intro h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: rgb(23, 2, 51);
	margin: 20px auto;
}

.parallax{
	background-image: url("../img/Cursos\ online.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
   
.parallax p{
	font-size: 28px;
	text-align: justify;
	color: #000;
	padding: 5px 40px;
	height: 500px;
	margin: 0;
}
.parallax-2 p{
	font-size: 28px;
	text-align: justify;
	color: #000;
	padding: 5px 40px;
	height: 500px;
	margin: 0;
}
