{%extends "layout.html"%}
{%block conteudo %}
     <div class="container">
    <h1>Preencha os Dados Abaixo:</h1>
    <form action="">
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" name="nome" id="">
         </div>
        <label for="email">E-mail:</label>
        <input class="form-control" type="text" name="email">
        <br>
        <label for="nomeCurso">Curso:</label>
        <input  class="form-control" type="text" name="curso">
        <br>
        <button class="btn btn-outline-primary" type="submit" name="button">Confirmar</button>
    </form>
    </div>

{%endblock%}
