{%extends  "layout.html"%}
{%block conteudo %}
    <section class="container">
      <h1>Catálogo de Cursos</h1>
    </section>
    <section class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/js-img.jpg" alt="Js">
          <div class="card-body">
            <p class="card-text">JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma.</p>
            <ul>
              <li>Carga Horária = 30 horas</li>
              <li>Instrutor = Misael </li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/angula.jpg" alt="Angular">
          <div class="card-body">
            <p class="card-text">Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações. Angular é uma reescrita completa do AngularJS.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/html-css.jpg" alt="Html">
          <div class="card-body">
            <p class="card-text">HTML significa Hypertext Markup Language. Ele permite que os usuários criem e estruturem seções, parágrafos, cabeçalhos e links para páginas da internet ou aplicações.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/java.jpg" alt="Java">
          <div class="card-body">
            <p class="card-text">Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling, na empresa Sun Microsystems.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/python.jpg" alt="Python">
          <div class="card-body">
            <p class="card-text">Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"  src="img/php.jpg"  alt="Php">
          <div class="card-body">
            <p class="card-text">PHP é uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/MongoDB.png" alt="MongoDB">
          <div class="card-body">
            <p class="card-text">MongoDB é um software de banco de dados orientado a documentos livre, de código aberto e multiplataforma, escrito na linguagem C++. Classificado como um programa de banco de dados NoSQL, o MongoDB usa documentos semelhantes a JSON com esquemas.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/mysql.png" alt="MySql">
          <div class="card-body">
            <p class="card-text">O MySQL é um sistema de gerenciamento de banco de dados, que utiliza a linguagem SQL como interface. É atualmente um dos sistemas de gerenciamento de bancos de dados mais populares da Oracle Corporation.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">Gratuito</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="img/postgre.jpg" alt="Postgre">
          <div class="card-body">
            <p class="card-text">PostgreSQL é um sistema gerenciador de banco de dados objeto relacional, desenvolvido como projeto de código aberto. A abordagem em um SGBD é caracterizada pela forma como os dados estão organizados nesse SGBD.</p>
            <ul>
              <li>Carga Horária -> 30 horas</li>
              <li>Instrutor -> Marcos</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="cadastro.html" role="button">Inscreva-se</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </section>



    <div class="container">

        <form action="">
            <div class="form-group">
                <label for="pesquisa">Pesquisar:</label>
                <input  class="form-control" type="text" name="Cursos" id="">
            </div>
            <br>
                <button class="btn btn-primary" type="submit" name="button">Buscar</button>

        </form>
    </div>
{%endblock %}
