{%extends "layout.html"%}
{%block conteudo %}
     <section class="mt-5 mb-5 mb-md-5">
      <h1>O que é Programação</h1>
      <p>Com o avanço das tecnologias digitais, a palavra programação chega as rodas de conversa com um significado que já é antigo, mas que vem sendo discutido cada vez mais nos dias atuais. A palavra não se trata mais apenas do planejamento que você faz para as férias ou do rumo que dá ao dinheiro que sobra no final do mês, mas vai muito, muito além disso.
        A programação que estamos falando aqui faz referência direta ao smartfone, tablet, notebook, ou qualquer outro aparelho eletrônico que você esteja utilizando neste exato momento para ler este texto. Isso porque, sem a programação com o seu sentido atual, você não conseguiria se comunicar facilmente com nenhuma dessas tecnologias.</p>
        <h1>Hoje:</h1>
        <ul>
            <li>{{texto}}</li>
            <li>-> Cursos Front-End</li>
            <li>-> Cursos Back-End</li>
            <li>-> Curso DB</li>
        </ul>

     </section>
{%endblock%}

