<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Online</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">

</head>
<body>

    <!-- menu -->
    <header class="menu">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="index">Cursos Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                      <a class="nav-link" aria-current="page" href="index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="cursos">Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="cadastro" >Cadastra-se</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <main class="intro" id="home">
      <h1>Cursos de Programação<br></h1>

    </main>
    <!-- Corpo do sistema -->
    <!--<section class="container mt-5 mb-5 mb-md-5">-->
    <!--  <h1>O que é Programação</h1>-->
    <!--  <p>Com o avanço das tecnologias digitais, a palavra programação chega as rodas de conversa com um significado que já é antigo, mas que vem sendo discutido cada vez mais nos dias atuais. A palavra não se trata mais apenas do planejamento que você faz para as férias ou do rumo que dá ao dinheiro que sobra no final do mês, mas vai muito, muito além disso.-->
    <!--    A programação que estamos falando aqui faz referência direta ao smartfone, tablet, notebook, ou qualquer outro aparelho eletrônico que você esteja utilizando neste exato momento para ler este texto. Isso porque, sem a programação com o seu sentido atual, você não conseguiria se comunicar facilmente com nenhuma dessas tecnologias.</p>-->
    <!--    <h1>Hoje:</h1>-->
    <!--    <ul>-->
    <!--        <li>-> Cursos Front-End</li>-->
    <!--        <li>-> Cursos Back-End</li>-->
    <!--        <li>-> Curso DB</li>-->
    <!--    </ul>-->

    <!--</section>-->
    <div class="container">
      {% block conteudo%} {% endblock %}

    </div>

    <div class="parallax">
      <div class="container">
        <div class="teste">
          <p class="d-flex align-items-center">
        </div>
      </div>
    </div>



    <section class="container">
      <div class="my-5 text-center">
        <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
        <h2 class="display-4 text-info">Perguntas Frequentes </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
          <div class="pergunta py-2">
            <a  class="lead"  data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">É possível cancelar a Inscrição?</a>
            <div id="pergunta1" class="collapse show" role="tabpanel">
               <p></p>
            </div>
          </div>

          <div class="dropdown-divider"></div>
          <div class="pergunta py-2">
            <a  class="lead"  data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">Qual a principais cursos da plataforma?</a>
            <div id="pergunta3" class="collapse show" role="tabpanel">
               <p></p>
            </div>
          </div>

          <div class="dropdown-divider"></div>
          <div class="pergunta py-2">
            <a  class="lead"  data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">Como esses cursos podem lhe ajudar profissionalmente?</a>
            <div id="pergunta4" class="collapse show" role="tabpanel">
               <p></p>
            </div>
          </div>

          <div class="dropdown-divider"></div>
          <div class="pergunta py-2">
            <a  class="lead"  data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">Vocês avisam os inscritos a chegada de novos cursos?</a>
            <div id="pergunta5" class="collapse show" role="tabpanel">
               <p> </p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
        </div>

      </div>
    </section>

    <footer class="bg-dark text-white mt-5">
      <div class="container py-4">
       <div class="row">
         <div class="col-md-3 col-6">
          <h4 class="h6">Páginas</h4>
           <ul class="list-unstyled">
             <li><a href="index">Home</a></li>
             <li><a href="sobre">Sobre</a></li>
             <li><a href="cursos">Cursos</a></li>
             <li><a href="cadastro">Inscreva-se</a></li>
           </ul>
         </div>
         <div class="col-md-3 col-6">
         <h4 class="h6">Cursos</h4>
           <ul class="list-unstyled">
             <li><a href="cursos">Front-End</a></li>
             <li><a href="cursos">Back-End</a></li>
             <li><a href="cursos">Full-Stack</a></li>
           </ul>
         </div>
         <div class="col-md-4">
           <h4 class="h6">DADOS DE CONTATO</h4>
           <ul class="list-unstyled text-secondary">
            <li>joaopedromeloo@hotmail.com</li>
            <li>21 99999-9999</li>
            <li>De Seg. à Sex. das 8 às 18h</li>
          </ul>
         </div>
         <div class="col-md-2">
           <h4 class="h6">REDES SOCIAS</h4>
           <ul class="list-unstyled">
             <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="#" style="max-width: 140px">Facebook</a></li>
             <li><a class="btn btn-outline-secondary  btn-sm btn-block mb-2" href="#" style="max-width: 140px">Twitter</a></li>
             <li><a class="btn btn-outline-secondary btn-sm btn-block  mb-2" href="#" style="max-width: 140px">Youtube</a></li>
           </ul>
         </div>
       </div>
      </div>
      <div class="bg-primary text-center py-3">
        <p class="md-0">Melo 2021.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>