{%extends "layout.html"%}
{%block conteudo %}
    <section>
        <div class="col-lg-12 mx-auto py-md-5">
            <h1>História</h1>
            <p class="fs-5 col-md-8" >É uma plataforma de Curso Online, criada por João Pedro, de e-learning para profissionais e estudantes da área de computação. O conteúdo dos
              cursos é bem variado com cursos focados em programação (da básica à avançada), Front-End, Back-End e Banco de Dados
              todos gratuitos e com emissão de certificado.</p>
        </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
        <h2>Missão</h2>
        <p> Missão - Gerar o desenvolvimento do ser humano através de sólidos conhecimentos e orientação prática da profissão, possibilitando o ingresso
          no mercado de trabalho e a formação de um profissional ético e responsável.</p>
        </div>

        <div class="col-md-6">
        <h2>Visão</h2>
        <p>Visão - Ser referência no ensino profissionalizante, através de conteúdos teóricos exclusivos e atualizados, e do ensino prático com os melhores
          recursos; formando profissionais de sucesso.</p>
        </div>
    </div>
  </section>
{%endblock%}
